@import url("./utils/reset.css");
@import url("variables.css");
@import url("utils.css");
@import url("./components/ccb-sidebar.css");
@import url("./components/ccb-link.css");
@import url("./components/ccb-select.css");
@import url("./components/ccb-button.css");
@import url("./components/ccb-button-spark.css");
@import url("./components/ccb-button-toggle.css");

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--base-50);
  color: var(--base-900);
  font: 1.25em sans-serif;
  line-height: 1.5em;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Hide theme switcher in browsers that don't support light-dark() */
@supports not (color: light-dark(white, black)) {
  .theme-switcher-form {
    display: none !important;
  }
}