---
import OtherPage from '../../layouts/OtherPage.astro'
import MeetTimePlace from '../../components/MeetTimePlace.astro'

const metadata = {
  title: 'CCB meetup #1',
  description: 'First Creative Coding Bookclub introductory meetup at The Glitch',
  keywords: 'Creative Coding, Bookclub, Meetup',
  emoji: '📄',
}

const date = '2025-01-27'
const time = '7-9pm'
const place = 'The Glitch, 134 Lower Marsh, London, SE1 7AE'
---

<OtherPage metadata={metadata}>
  <div class='py-4'>
    <MeetTimePlace date={date} time={time} place={place} />
  </div>
  <h2 class='text-4xl max-w-md'>the nature of code</h2>
  <section class='py-2 space-y-6'>
    <h3 class='text-3xl'>intro</h3>
    <p>
      Our first meet up was a small and cozy gathering of around 8 people at <a
        class='ccb-link'
        href='https://www.theglitch.london/'
        target='_blank'>The Glitch</a
      > in which we talked about our choice of <a
        class='ccb-link'
        href='https://natureofcode.com/'
        target='_blank'>The Nature of Code</a
      > by Daniel Shiffman as the book to read during this <a
        class='ccb-link'
        href='https://creativecodingbook.club/book/2025/'
        target='_blank'>2025</a
      >.
    </p>
    <p>
      People attending shared their experience with programming and creative coding specifically and
      their motivation to join the bookclub. It was a friendly chat among a diverse group of
      beginners and more advanced programmers coming from different backgrounds.
    </p>
  </section>
</OtherPage>
