---
import OtherPage from '../../layouts/OtherPage.astro'
import MeetTimePlace from '../../components/MeetTimePlace.astro'

const metadata = {
  title: 'CCB meetup #4',
  description: 'Fourth Creative Coding Bookclub meetup. The Nature of Code - Forces',
  keywords:
    'Creative Coding, Bookclub, Meetup, The Nature of Code, Vectors, Linear Algebra, Object Oriented Programming, Daniel Shiffman',
  emoji: '📄',
}

const date = '2025-04-24'
const time = '6.15-8.15pm'
const place = 'Borough Road Gallery, London South Bank University, 103 Borough Road, SE1 0AA'
---

<OtherPage metadata={metadata}>
  <div class='py-4'>
    <h2 class='text-4xl max-w-md'>the nature of code</h2>
    <h3 class='text-3xl'>chapter 2 - forces</h3>
  </div>
  <div class='py-4'>
    <MeetTimePlace date={date} time={time} place={place} />
  </div>
  <div class='py-2 space-y-8'>
    <section class='p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl space-y-6'>
      <h4 class='text-2xl'>while you wait ⏰</h4>
      <p>Connect to the LSBU public Wifi</p>
      <p>
        Go to <a
          class='ccb-link'
          href='https://pad.riseup.net/p/zrFh4I_u5KzcB1mLBDhL'
          target='_blank'>today's Etherpad</a
        > - we will use this during the meetup to collect ideas, notes, feedback and anything that you
        want to share publicly by text. The document will vanish 60 days after the meetup.
      </p>
    </section>
    <section class='p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl space-y-6'>
      <h4 class='text-2xl'>intro 👋</h4>
      <p>Welcome! Thanks for coming 🙏⭐</p>
      <p>
        This event is for anyone who is curious about creative coding - whether you are a beginner
        or an experienced developer.
      </p>
      <p class='pb-2'>
        <a href='/book/2025' class='ccb-link' target='_blank'>This 2025</a> we started <b
          >"The Nature of Code" (2024)</b
        > by
        <a href='https://thecodingtrain.com/about' class='ccb-link' target='_blank'
          >Daniel Shiffman</a
        >.
      </p>
      <p>
        Last time we talked about <b>chapter 1</b> - vectors. Today we're talking about
        <a class='ccb-link' href='https://natureofcode.com/vectors/' target='_blank'>chapter 2</a>,
        which teaches how to work with <b>forces</b>.
      </p>
      <p>
        You can interrupt us anytime, or just raise your hand 🙋 and share anything at any point
        during the meeting. Don't be shy! (or be shy! whatever you want!)
      </p>
    </section>
    <section class='p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl space-y-6'>
      <h4 class='text-2xl'>lets talk forces 🪐</h4>
      <p>
        What were the main takeaways for you from reading this chapter? What things did you struggle
        with? What things did you learn?
      </p>
      <p>Here is a 10min video about vectors that I think is worth sharing:</p>
      <iframe
        class='w-full h-[315px]'
        src='https://www.youtube.com/embed/II1A3bBo6gM'
        title='2.1: What is a Force? - The Nature of Code'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        referrerpolicy='strict-origin-when-cross-origin'
        allowfullscreen></iframe>
      <p><b>What is a force?</b></p>
      <p>A force is a vector that causes an object with mass to accelerate</p>
      <p><b>Newton's laws of motion</b></p>
      <ol class='pl-8 list-decimal space-y-2'>
        <li>An object at rest stays at rest, and an object in motion stays in motion</li>
        <li>Force equals mass times acceleration.</li>
        <li>For every action, there is an equal and opposite reaction</li>
      </ol>
    </section>
    <section class='p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl space-y-6'>
      <h4 class='text-2xl'>lil break ⌛</h4>
      <p>Go mingle!</p>
    </section>
    <section class='p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl space-y-6'>
      <h4 class='text-2xl'>sketches! 🎨</h4>
      <p>
        Share the links to your sketches in the <a
          class='ccb-link'
          href='https://pad.riseup.net/p/zrFh4I_u5KzcB1mLBDhL'
          target='_blank'>shared environment</a
        >. Feel free to also paste them in <a
          class='ccb-link'
          href='https://discord.gg/CfgGPZJv'
          target='_blank'
        >
          C3S discord</a
        > if you want people who are not here today to see them as well!
      </p>
    </section>
    <section class='p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl space-y-6'>
      <h4 class='text-2xl'>get involve! ✏️</h4>
      <p>
        Our website is open-source, besides uploading your sketches, you can also contribute to it
        in <a
          class='ccb-link'
          href='https://github.com/sb-luis/creative-coding-bookclub'
          target='_blank'>github</a
        >
      </p>
      <p>Pull requests on Github are not everything. There are many ways you can collaborate!</p>
      <p>Here are some ideas:</p>
      <ul class='space-y-6'>
        <li>
          <b>MONTHLY POSTER:</b> Every month we do a custom poster for our <a
            class='ccb-link'
            href='https://lu.ma/creativecodingbookclub'
            target='_blank'>Luma</a
          > event. This month's poster was a sketch from <a
            class='ccb-link'
            href='https://github.com/fabcreative'
            target='_blank'>Fabio</a
          >! If you're interested in making the poster some month get in touch!
        </li>
        <li>
          <b>SITE FONTS:</b> If you are a designer and you like typography, it would be very cool to
          have custom fonts for the headings (<e>h1</e>, <e>h2</e>, <e>h3</e>). At the moment these
          fonts are placeholder. Our main requirement would be that the fonts are readable and
          ideally monospace.
        </li>
        <li>
          <b> HOMEPAGE LOGO: </b> The logo in our homepage is also placeholder! It would be cool to randomize
          this to include logos made by different people. It should read 'creative coding bookclub' and
          use our current main <b>brand color</b>. Lets also use <b>svg</b> as the export format so we
          can dynamically change the brand color color in the future, or even randomize it!
        </li>
        <li>
          <b> HOMEPAGE SKETCH: </b>. We have a placeholder sketch as the background of the homepage.
          Get in touch if you like the idea of making more sketches for the homepage. Main
          constraints here are that the sketch draws something from left to right, spanning the
          whole width of the screen, and that it is monocrome (to keep the brand color in the logo
          above standing out). Also this sketch should not be animated (only P5's <e>`setup()`</e> function
          should be used)
        </li>
      </ul>
      <p>
        Remember we're in Bluesky and Mastodon (Mickey also in Instagram). Feel free to reach to us
        and keep in touch in there!
      </p>
    </section>
    <section class='p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl space-y-6'>
      <h4 class='text-2xl'>q&a / coding time / pub 💻</h4>
      <p>
        If you have any questions about this or previous chapters, the website, or the bookclub in
        general, please ask them!
      </p>
      <p>
        If you're feeling inspired. Go to the <a
          class='ccb-link'
          href='https://editor.p5js.org/'
          target='_blank'>P5JS WebEditor</a
        > and try making something now. If you are sitting next to a stranger maybe say 'hi' and try
        some pair-programming.
      </p>
      <p>
        We need to leave by 8.15pm, but some people like hanging at a nearby pub afterwards, feel
        free to join!
      </p>
    </section>
  </div>
</OtherPage>
