# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
# codeowners will be automatically requested for
# review when someone opens a pull request. 
*       @sb-luis @mickeymarse

# members folder
/src/members/luis @sb-luis
/src/members/mickeymarse @mickeymarse
/src/members/fabio @fabcreative
/src/members/davide @davidelanfranchi