# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
# codeowners will be automatically requested for
# review when someone opens a pull request. 
*       @sb-luis @mickeymarse

# more rules...
/src/members

# github files
/.github @sb-luis @mickeymarse
/ccb.json @sb-luis @mickeymarse