{{ block "html-head" . }}
{{ template "html-head-metadata" . }}
<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
<link
  href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&amp;family=Work+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap"
  rel="stylesheet" />

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/global.css" />

<!-- progressively enhanced with JS -->
<script src="/assets/js/main.js" defer></script>

{{ end }}