{{ block "theme-switcher" . }}
<form method="POST" action="/api/preferences/theme" class="theme-switcher-form">
  <input type="hidden" name="redirectURL" value="{{ .CurrentURL }}">
  <label for="theme" class="invisible"> {{ i18nText .Lang "components.themeSwitcher.hiddenLabel" }} </label>
  <select name="theme" id="theme" class="ccb-select" onchange="this.form.submit()">
    <option value="system" {{ if eq .Theme "system" }}selected{{ end }}>{{ i18nText .Lang
      "components.themeSwitcher.systemOption" }}️</option>
    <option value="light" {{ if eq .Theme "light" }}selected{{ end }}>{{ i18nText .Lang
      "components.themeSwitcher.lightOption" }}</option>
    <option value="dark" {{ if eq .Theme "dark" }}selected{{ end }}>{{ i18nText .Lang
      "components.themeSwitcher.darkOption" }}</option>
  </select>
  <noscript>
    <button class="border rounded-2xl px-2 mt-2" type="submit">{{ i18nText .Lang "components.themeSwitcher.applyButton"
      }}</button>
  </noscript>
</form>
{{ end }}