<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if and .Theme (ne .Theme "system" ) }}data-theme="{{ .Theme }}" {{ end }}>

<head>
    {{ template "html-head-metadata" . }}
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            overscroll-behavior: none;
        }
    </style>
    <!-- third-Party Creative Coding libraries -->
    <script defer src="https://cdn.jsdelivr.net/npm/p5@1.11.7/lib/p5.min.js"></script>
</head>

<body>
    {{ if .SketchJsPath }}
    <script defer src="{{ .SketchJsPath }}"></script>
    {{ else }}
    <div id="sketch-container">Failed to load sketch: JS path not provided.</div>
    {{ end }}
</body>

</html>