{{ block "page-sketch-lister" . }}
<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if and .Theme (ne .Theme "system" ) }}data-theme="{{ .Theme }}" {{ end }}>

<head>
    {{ template "html-head" . }}
</head>

<body class="pl-8">
    <!-- Sidebar -->
    <input type="checkbox" id="sidebar-toggle-checkbox" class="invisible" aria-controls="sidebar">
    <aside id="sidebar" class="ccb-sidebar flex">
        <label for="sidebar-toggle-checkbox" id="sidebar-toggle" aria-label="{{ i18nText .Lang 
            " components.sidebar.toggleAriaLabel" }}"></label>
        <div class="flex flex-col space-y-4 p-4">
            {{ template "sidebar-nav" . }}
            {{ template "sidebar-settings" . }}
            <!-- Sketch List -->
            <div class="flex flex-col py-8">
                <h1 class="mb-4 ccb-h2">sketches</h1>
                <ul id="sketch-lister" class="space-y-2 overflow-y-scroll max-w-50" role="listbox"
                    aria-label="Available sketches">
                    {{ range .Sketches }}
                    <li role="option">
                        <button class="ccb-link" data-alias="{{ .Alias }}" data-page="{{ .Slug }}"
                            data-title="{{ if .Title }}{{ .Title | html }}{{ end }}"
                            data-description="{{ if .Description }}{{ .Description | html }}{{ end }}"
                            aria-current="false" aria-selected="false"
                            aria-label="Load sketch {{ .Alias }}/{{ .Slug }}">{{ .Alias }}/{{
                            .Slug }}</button>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </aside>
    <main class="h-full">
        <div class="h-full flex flex-col md:flex-row">
            <div class="flex-1 shadow-2xl rounded-2xl flex flex-col">
                {{ template "sketch-editor-controls" . }}
                <div id="viewport" class="flex-1 rounded-t-2xl relative max-h-[55vh] md:max-h-[75vh]">
                    <iframe id="sketch-view" src="/empty-iframe" class="w-full h-full z-10"></iframe>
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/js/pages/sketch-editor-controls.js"></script>
</body>

</html>
{{ end }}