@import 'tailwindcss';

@theme {
  --font-display-1: 'Bungee Shade', serif;
  --font-display-2: 'Gaegu', serif;
  --font-text-1: 'Reddit Sans', serif;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
