  @import 'tailwindcss';
  @import '../styles/global.css';

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  @media min-width(1024px) {
    html,
    body {
      height: 100%;
      overflow: hidden;
      overscroll-behavior: none;
    }
  }

  button {
    @apply text-black no-underline whitespace-nowrap relative;
  }

  button:hover {
    @apply text-white
  }

  button::after {
    @apply bg-brand-1 absolute -z-1 top-[90%] -left-0.5 -right-0.5 bottom-0 content-[''];
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  }

  button:hover::after {
    @apply top-[0%] 
  }