---
import OtherPage from '../layouts/OtherPage.astro'
import { getMemberPagesRoutes } from '../utils/index.js'
const routes = getMemberPagesRoutes()
---

<OtherPage>
  <h1 class='ccb-h2 mb-4'>all member pages</h1>
  <ul class='space-y-2'>
    {
      routes.map((data) => (
        <li>
          <a href={`/${data.params.alias}/${data.params.page}`} class='ccb-link'>
            {data.params.alias + '/' + data.params.page}
          </a>
        </li>
      ))
    }
  </ul>
</OtherPage>
