---
import OtherPage from '../layouts/OtherPage.astro';
import { getMemberPagesRoutes } from '../utils/index.js';
const routes = getMemberPagesRoutes();
---

<OtherPage>
  <section>
    <h2 class="mb-4">member pages</h2>
    <ul class="space-y-2">
      {
        routes.map((data) => (
          <li>
          <a
            href={`/${data.params.alias}/${data.params.page}`}
            class="ccb-link"
          >
            {data.params.alias + '/' + data.params.page}
          </a>
          </li>
        ))
      }
    </ul>
  </section>
</OtherPage>
