---
import MainPage from '../layouts/MainPage.astro';
import BookclubIntro from '../components/BookclubIntro.astro';
import BookclubJoinUs from '../components/BookclubJoinUs.astro';
import BookclubInPerson from '../components/BookclubInPerson.astro';
import BookclubOnline from '../components/BookclubOnline.astro';
---

<MainPage>
  <BookclubIntro />
  <BookclubJoinUs />
  <BookclubInPerson />
  <BookclubOnline />
  <p>Check out some of our <a href="/sketches">sketches</a>!</p>
</MainPage>
