---
const href = Astro.props.href ?? '/'
const content = Astro.props.content ?? 'click me';
---

  <a
    href={href}
    class='bg-neutral-200 group text-lg font-extrabold p-2 shadow-lg hover:px-6 transition-all duration-100'
    ><span class='invisible group-hover:visible group-hover:-rotate-360 inline-block transition-transform duration-500'>✨</span><span class="px-2">{content}</span><span
      class='invisible group-hover:visible group-hover:-rotate-360 inline-block transition-transform duration-300'>✨</span
    ></a
  >