<section class='space-y-6'>
  <h2>what is this?</h2>
  <p>
    The Creative Coding Bookclub is a new event, organised by Mickey and Luis, in which we aim to
    actively work our way through writings that inspire the reader with practical coding challenges,
    while sharing our journey online and in-person.
  </p>
  <p>
    This 2025 we are reading <a href='https://natureofcode.com/'>The Nature of Code (2024)</a> by Daniel
    Shiffman.
  </p>
  <p>
    Daniel's book illustrates concepts that are recurrent in creative coding, and breaks down
    patterns to visually represent the behavior of natural systems, from inanimate objects to living
    beings, and the dynamics that emerge from their interactions.
  </p>
  <p>
    Our goal is to read at a pace of one chapter a month, but the rhythm might change if attendants
    find one chapter particularly interesting or challenging.
  </p>
</section>
