<section class='space-y-4'>
  <h2>online️️</h2>
  <p class="pb-2">
    If you post any bookclub-related content in social media feel free to mention
    us or tag
    the <a href="https://bsky.app/hashtag/CreativeCodingBookclub">#CreativeCodingBookclub</a>
    hashtag for us to see your posts!
  </p>
  <ul class='flex flex-wrap space-x-4 space-y-4'>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>Mickey</h3>
      <div class='flex flex-col'>
        <a href='mailto:mickeymarse@tuta.io'>mickeymarse@tuta.io</a>
        <a href='https://bsky.app/profile/mickeymarse.dev'>@mickeymarse.dev</a>
      </div>
    </li>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>Luis</h3>
      <div class='flex flex-col'>
        <a href='mailto:hey@luis.earth'>hey@luis.earth</a>
        <a href='https://bsky.app/profile/luis.earth'>@luis.earth</a>
      </div>
    </li>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>C3S London</h3>
      <div class='flex flex-col'>
        <a href='https://discord.gg/ggYbapqx'>discord server</a>
      </div>
    </li>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>Github</h3>
      <div class='flex flex-col'>
        <a href='https://github.com/sb-luis/creative-coding-bookclub'
          >upload your work!</a
        >
      </div>
    </li>
  </ul>
</section>
