---
import LinkButton from './base/LinkButton.astro'
---

<section class='space-y-6'>
  <h2 class='ccb-h2'>hey!!!</h2>
  <p>We are meeting this week</p>
  <LinkButton href='/meet/2025-04-24' content='Check the slides!' />
</section>
