<section class='space-y-6'>
  <h2>irl <span class='text-2xl'>🌳</span></h2>
  <p>
    Future events will take place at the <a
      href='https://www.lsbu.ac.uk/student-life/facilities/facility-finder/borough-road-gallery'
      >Borough Road Gallery</a
    >, part of <b>London South Bank University</b>, which kindly agreed to host
    us on a regular basis.
  </p>
  <p>
    We'll meet on the <span class='bg-neutral-100 px-2'
      >✨ last Wednesday of each month ✨</span
    > - find out more about upcoming events at <a
      href='https://lu.ma/calendar/cal-l8dqsc8YHhI2Fbi'>Luma</a
    >!
  </p>
  <div class='p-4 shadow-2xl'>
    <h3>Address</h3>
    <p>
      London South Bank University, <a
        href="href='https://maps.app.goo.gl/MMyCvXXHaM19cE92A'"
        >103 Borough Road, SE1 0AA.</a
      >
    </p>
    <ul class='mt-4'>
      <li>Elephant & Castle Station [6 min walk]</li>
      <li>Borough Station [10 min walk]</li>
      <li>Southwark Station [10 min walk]</li>
    </ul>
  </div>
  <p>
    The idea for this event originated at the <b>Creative Coding Craft Space.</b
    > Which also occurs monthly at Hackney Wick. Find more about them <a
      href='https://www.eventbrite.com/o/creativecodingcrafts-space-90303892113'
      >here</a
    >.
  </p>
</section>
