<section class='space-y-6'>
  <h2>should I join?</h2>
  <p>Yes!</p>
  <p>
    This event is for anyone who is curious about creative coding - whether you are a beginner or
    a seasoned developer. 
  </p>
  <p>
    If you're a beginner and you follow along, you will gain practice with
    fundamentals that will prove useful in your future coding endeavours, and if
    you're an experienced developer this is a chance to recap some theory and a
    great opportunity to help others.
  </p>
  <p>
    Even if you've never written a line of code, as long as you're motivated
    enough to put the time and effort you can make it!
  </p>
</section>
