<section class="space-y-4">
  <h2>irl <span class="text-2xl">🌳</span></h2>
  <p>
    We hosted our first meeting at <a href="https://www.theglitch.london/">The Glitch</a>. But we're in the process of looking for a ✨bigger venue✨ to host future meetings, we'll make the announcement in discord, social media and our mail list once we find a new place! 
  </p>
</section>
