---
const contactCards = [
  { title: 'Mickey', text: 'mickeymarse@tuta.io', href: 'mailto:mickeymarse@tuta.io' },
  { title: 'Luis', text: 'hey@luis.earth', href: 'mailto:hey@luis.earth' },
  { title: 'C3S London', text: 'discord server', href: 'https://discord.gg/ggYbapqx' },
  { title: 'Github', text: 'upload your work!', href: 'https://github.com/sb-luis/creative-coding-bookclub' },
]
---

<section class='space-y-6'>
  <h2 class='ccb-h2'>online️️</h2>
  <p class='pb-2'>
    If you post any bookclub-related content in social media feel free to mention us or tag the <a
      href='https://bsky.app/hashtag/CreativeCodingBookclub'
      class='ccb-link'>#CreativeCodingBookclub</a
    >
    hashtag for us to see your posts!
  </p>
  <ul class='flex flex-wrap space-x-4 space-y-4'>
    {
      contactCards.map((card) => (
        <li class='p-4 w-50 h-30 shadow-2xl'>
          <h3 class='ccb-h3'>{card.title}</h3>
          <div class='flex flex-col'>
            <a href={card.href} target="_blank" class='ccb-link'>
              {card.text}
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</section>
