<section class='space-y-6'>
  <h2>online️️</h2>
  <p class='pb-2'>
    If you post any bookclub-related content in social media feel free to mention us or tag the <a
      href='https://bsky.app/hashtag/CreativeCodingBookclub'
      class='ccb-link'>#CreativeCodingBookclub</a
    >
    hashtag for us to see your posts!
  </p>
  <ul class='flex flex-wrap space-x-4 space-y-4'>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>Mickey</h3>
      <div class='flex flex-col'>
        <a href='mailto:mickeymarse@tuta.io' class='ccb-link'>mickeymarse@tuta.io</a>
        <a href='https://bsky.app/profile/mickeymarse.dev' class='ccb-link'>@mickeymarse.dev</a>
      </div>
    </li>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>Luis</h3>
      <div class='flex flex-col'>
        <a href='mailto:hey@luis.earth' class='ccb-link'>hey@luis.earth</a>
        <a href='https://bsky.app/profile/luis.earth' class='ccb-link'>@luis.earth</a>
      </div>
    </li>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>C3S London</h3>
      <div class='flex flex-col'>
        <a href='https://discord.gg/ggYbapqx' class='ccb-link'>discord server</a>
      </div>
    </li>
    <li class='p-4 w-50 h-30 shadow-2xl'>
      <h3>Github</h3>
      <div class='flex flex-col'>
        <a href='https://github.com/sb-luis/creative-coding-bookclub' class='ccb-link'
          >upload your work!</a
        >
      </div>
    </li>
  </ul>
</section>
