---
const contacts = [
  { title: 'Mickey', text: 'mickeymarse@tuta.io', href: 'mailto:mickeymarse@tuta.io' },
  { title: 'Luis', text: 'hey@luis.earth', href: 'mailto:hey@luis.earth' },
  { title: 'C3S london', text: 'discord server', href: 'https://discord.gg/ggYbapqx' },
  {
    title: 'Github',
    text: 'upload your work!',
    href: 'https://github.com/sb-luis/creative-coding-bookclub',
  },
]
---

<section class='space-y-6'>
  <h2 class='ccb-h2'>online️️</h2>
  <p class='pb-2'>
    If you post any bookclub-related content in social media feel free to mention us or tag the <a
      href='https://bsky.app/hashtag/CreativeCodingBookclub'
      class='ccb-link'>#CreativeCodingBookclub</a
    >
    hashtag for us to see your posts!
  </p>
  <ul class='px-4 shadow-2xl rounded-2xl'>
    {
      contacts.map((c) => (
        <li class='py-2 flex justify-between'>
          <h3 class='mr-2'>{c.title} 👉</h3>
          <a href={c.href} target='_blank' class='ccb-link'>
            {c.text}
          </a>
        </li>
      ))
    }
  </ul>
</section>
