<section class='space-y-6'>
  <h2 class='ccb-h2'>irl <span class='text-2xl'>🌳</span></h2>
  <p>
    Future events will take place at the <a
      href='https://www.lsbu.ac.uk/student-life/facilities/facility-finder/borough-road-gallery'
      target='_blank'
      class='ccb-link'>Borough Road Gallery</a
    >, part of <b>London South Bank University</b>, which kindly agreed to host us on a regular
    basis.
  </p>
  <p>
    We'll meet on the <span class='bg-neutral-100 px-2'>✨ last Thursday of each month ✨</span> - subscribe
    to the <a href='https://lu.ma/creativecodingbookclub' target='_blank' class='ccb-link'
      >calendar</a
    > and come to our next event:
  </p>
  <iframe
    src='https://lu.ma/embed/calendar/cal-l8dqsc8YHhI2Fbi/events?lt=light'
    width='570'
    height='290'
    style='border: 1px solid #bfcbda88; border-radius: 4px;'
    aria-hidden='false'
    tabindex='0'></iframe>
  <p>
    The idea for this event originated at the <b>Creative Coding Craft Space.</b> Which also occurs monthly
    at Hackney Wick. Find more about them <a
      href='https://www.eventbrite.com/o/creativecodingcrafts-space-90303892113'
      target='_blank'
      class='ccb-link'>here</a
    >.
  </p>
</section>
