<section class='space-y-6'>
  <h2 class='ccb-h2'>who are we?</h2>
  <p>
    The Creative Coding Bookclub is a new event, organised by <a
      href='https://mickeymarse.dev/'
      target='_blank'
      class='ccb-link'>Mickey</a
    > and <a href='https://www.luis.earth' target='_blank' class='ccb-link'>Luis</a>, in which we
    aim to actively work our way through writings that inspire the reader with practical coding
    challenges, while sharing our journey online and in-person.
  </p>
  <p class='pb-2'>
    <a href='/book/2025' class='ccb-link'>This 2025</a> we started <b>"The Nature of Code" (2024)</b
    > by
    <a href='https://thecodingtrain.com/about' class='ccb-link' target='_blank'>Daniel Shiffman</a>.
  </p>
  <a
    href='/sketches'
    class='bg-neutral-200 group text-lg font-extrabold p-2 shadow-lg hover:px-6 transition-all duration-100'
    ><span class='invisible group-hover:visible group-hover:-rotate-360 inline-block transition-transform duration-500'>✨</span> Check our sketches! <span
      class='invisible group-hover:visible group-hover:-rotate-360 inline-block transition-transform duration-300'>✨</span
    ></a
  >
</section>
