---
import LinkButton from './base/LinkButton.astro'
---

<section class='space-y-6'>
  <h2 class='ccb-h2'>irl <span class='text-2xl'>🌳</span></h2>
  <p>
    Future events will take place at the <a
      href='https://www.lsbu.ac.uk/student-life/facilities/facility-finder/borough-road-gallery'
      target='_blank'
      class='ccb-link'>Borough Road Gallery</a
    >, part of <b>London South Bank University</b>, which kindly agreed to host us on a regular
    basis.
  </p>
  <p>
    We'll meet on the last Thursday of each month - find out more about upcoming events at <a
      href='https://lu.ma/calendar/cal-l8dqsc8YHhI2Fbi'
      class='ccb-link'
      target='_blank'>Luma</a
    >!
  </p>
  <iframe
    src='https://lu.ma/embed/calendar/cal-l8dqsc8YHhI2Fbi/events?lt=light'
    class='rounded-xl w-full h-[290px]'
    aria-hidden='false'
    tabindex='0'></iframe>
  <p class="mb-8">
    The idea for this event originated at the <b>Creative Coding Craft Space.</b> Which also occurs monthly
    at Hackney Wick. Find more about them <a
      href='https://creativecodingcrafts.space'
      target='_blank'
      class='ccb-link'>here</a
    >.
  </p>
  <LinkButton href='/meet' content='Browse our events!' />
</section>
