---
const date = Astro.props.date ?? '2025-01-27'
const time = Astro.props.time ?? '7-9pm';
const place = Astro.props.place ?? 'London'
---

<ul class="p-4 border-l-4 border-l-neutral-200 rounded-r-2xl shadow-2xl">
    <li><b>Date</b>: {date}</li>
    <li><b>Time</b>: {time}</li>
    <li class="max-w-md"><b>Place</b>: {place}</li>
</ul>