---
import OtherPage from '../../layouts/OtherPage.astro'
import { getMemberPagesRoutes } from '../../utils/index.js'
const routes = getMemberPagesRoutes()
---

<OtherPage>
  <section>
    <h2 class='mb-4'>the nature of code</h2>
  </section>
</OtherPage>
