---
import '../styles/global.css';
import '../styles/page.css';
import '../styles/sketch-lister.css';
import Favicon from '../components/Favicon.astro';
import Metadata from '../components/Metadata.astro';
import Fonts from '../components/Fonts.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <Favicon emoji='🪄' />
    <Metadata
      title='CCB Sketches'
      description='Creative coding sketches by the bookclub members'
      keywords='Creative Coding, Bookclub, Sketches'
    />
    <Fonts />
  </head>
  <body>
    <slot />
  </body>
</html>

